.logger-requests-list-root {
    display: flex;
    flex-flow: column;
}

.logger-requests-globalview {
    display: flex;
    flex-flow: row;
}

.logger-request-list-container {
    flex: 1 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.logger-requests-avg-container {
    flex: 1 1;
    display: flex;
    flex-flow: column;
    padding: 4px;
    border: 2px SOLID #d3d3d3;
    margin: 2px;
    border-radius: 6px;
}


.logger-request-avg-label {
    align-self: center;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.logger-api-stats-graph-entry {
    display: flex;
    flex-flow: row;
}

.logger-api-stats-graph-entry-ns {
    width: 40px;
}

logger-api-stats-graph-entry-ns:after {
    content: ":"
}

.logger-api-stats-graph-entry-bar-container {
    position: relative;
    flex: 1 1;
}

.logger-core-ns {
    background-color: #2395F7;
}

.logger-content-ns {
    background-color: #67da6c;
}

.logger-design-ns {
    background-color: #ffc107;
}

.logger-cache-ns {
    background-color: #00bcd4;
}

.logger-api-stats-graph-entry-bar {
    position: absolute;
    height: 8px;
    min-width: 2px;
    // background-color: seagreen;
}

.logger-request-list-type-filter {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.logger-request-list-type-toggle {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}

.logger-request-list-text-filter {
    margin-left: 10px;
    flex: 1 1;
    display: flex;
    flex-flow: row;
    align-items: center;

    span {
        font-weight: bold;
        margin-right: 6px;
    }

    input {
        flex: 1 1;
        outline: none;
        margin-right: 2px;
    }
}