.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 2;
    // pointer-events: none;
    overflow: hidden;
    
    .loader {
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}